# Игнорируем всю папку сборки Maven
target/
*.jar
*.war
*.ear

# Игнорируем логи приложения
*.log

# Игнорируем настройки локальных сред разработки (если появятся)
.idea/
*.iml
.vscode/

node_modules/
